! --- URxvt General ---
URxvt*scrollBar: false
URxvt*urgentOnBell: true
URxvt*visualBell: false
URxvt*cursorUnderline: true
URxvt*cursorBlink: true

URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.url-select.launcher:/usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.font:xft:Hack-Bold:size=11
URxvt.matcher.rend.0: Uline Bold fg5

! --- URxvt Colors ---
URxvt.depth: 32
URxvt.background: #383c4a
URxvt.foreground: #ffffff

! --- Color Schemes ---
!#include ".config/xcolors/apple-dark"
!#include ".config/xcolors/baskerville"
!#include ".config/xcolors/gjm"
!#include ".config/xcolors/phrak1"
!#include ".config/xcolors/darkocean"
#include ".config/xcolors/monokai"
! --- Rofi Colors ---
! State:           ´bg´,     ´fg´,    ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-normal: #2d2d2d,  #ffffff,  #2d2d2d,  #2d2d2d,  #ff1111
rofi.color-urgent: #2d2d2d,  #ffffff,  #eee8d5,  #dc322f,  #fdf6e3
rofi.color-active: #2d2d2d,  #ff1111,  #eee8d5,  #268bd2,  #fdf6e3

!                  ´background´, ´border´, ´separator´
rofi.color-window: #2d2d2d,      #000000,  #ffffff

! --- Rofi Appearance ---
rofi.opacity: 50
rofi.font: Hack 15
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 5
rofi.width: 100
rofi.padding: 500
rofi.bw: 0
rofi.eh: 2


! --- Rofi Settings ---
rofi.click-to-exit: true
rofi.kb-primary-paste: Control+v, Insert
rofi.display-run: 
