
!--- Global Fonts ---

#define $main_font               ProFont for Powerline
#define $alt_font                DEC Terminal
#define $captial_font            Visitor TT1 BRK
#define $font_size               13

#define $main_font_xft           xft:$main_font:size=$font_size:antialias=true:hinting=true:autohint=true
#define $main_font_pango         $main_font $font_size
#define $alt_font_xft            xft:$alt_font:size=$font_size
#define $alt_font_pango          $alt_font $font_size

! --- Global Colors ---

#define $transparent         	rgba:0000/0000/0000/B300
#define $foreground		#ffffff
#define $foreground_alt       	#d90e79
#define $background		#261F39	
#define $highlight              #1E828C
#define $highlight_alt          #a59f85
#define $selected               #009bde

#include ".Xresources.d/themes/neon"

! --- URxvt  ---
URxvt*font:$main_font_xft
URxvt*boldFont:$main_font_xft
URxvt*italicFont:$main_font_xft
URxvt*bolditalicFont:$main_font_xft
URxvt.scrollBar: false
URxvt.urgentOnBell: true
URxvt.visualBell: false
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.depth: 24
URxvt.internalBorder: 30
URxvt.externalBorder: 0
URxvt.modifier: alt

!URxvt.shading: 40
!URxvt*transparent: false
!URXvt*blurRadius: 15
! URxvt.keysym.Shift-BackSpace: \033"

! -- URxvt Colors ---

URxvt.foreground:      	$foreground
URxvt.background:      	$background
URxvt.cursorColor:  	$foreground
URxvt.colorUL:      	$selected
URxvt.selected:         $selected

! -- URxvt Keybinds --

URxvt.keysym.S-Return:  \033[13;2u
URxvt.keysym.C-Return:  \033[13;5u

! --- I3 Colors ---

i3wm.border:		$foreground
i3wm.background: 	$background
i3wm.foreground:	$foreground
i3wm.text: 		$background
i3wm.indicator:		$foreground
i3wm.child_border:	$background
i3wm.font:		$main_font

! --- Polybar ---

polybar.background:     $background
polybar.transparent: 	$transparent
polybar.foreground:     $foreground
polybar.foreground_alt: $foreground_alt
polybar.selected:       $selected
polybar.font:           $alt_font

! --- Rofi Colors ---
rofi.color-enabled: true
rofi.color-window: argb:CC000000, argb:0000000, argb:0000000
rofi.color-normal: argb:0000000, $foreground, argb:0000000, argb:0000000, $foreground_alt
rofi.color-active: argb:0000000, $background, argb:0000000, argb:0000000, $background
rofi.color-urgent: argb:0000000, $background, argb:0000000, argb:0000000, $background

! --- Rofi Appearance ---
rofi.font: $captial_font 22

rofi.hide-scrollbar: true
rofi.lines: 5
rofi.width: 100
rofi.padding: 650
rofi.bw: 0
rofi.eh: 2

! --- Rofi Settings ---
rofi.click-to-exit: true
rofi.kb-primary-paste: Control+v, Insert
rofi.display-run:
