gtk-color-scheme = "background: #04021A"
gtk-color-scheme = "foreground: #D7C2A8"

gtk-color-scheme = "color0: #04021A"
gtk-color-scheme = "color1: #2B0D48"
gtk-color-scheme = "color2: #5D134E"
gtk-color-scheme = "color3: #6F4D67"
gtk-color-scheme = "color4: #9B2051"
gtk-color-scheme = "color5: #B44250"
gtk-color-scheme = "color6: #B2867B"
gtk-color-scheme = "color7: #D7C2A8"
gtk-color-scheme = "color8: #686775"
gtk-color-scheme = "color9: #2B0D48"
gtk-color-scheme = "color10: #5D134E"
gtk-color-scheme = "color11: #6F4D67"
gtk-color-scheme = "color12: #9B2051"
gtk-color-scheme = "color13: #B44250"
gtk-color-scheme = "color14: #B2867B"
gtk-color-scheme = "color15: #D7C2A8"
