gtk-color-scheme = "background: #080808"
gtk-color-scheme = "foreground: #99E5FD"

gtk-color-scheme = "color0: #080808"
gtk-color-scheme = "color1: #464545"
gtk-color-scheme = "color2: #535353"
gtk-color-scheme = "color3: #65696A"
gtk-color-scheme = "color4: #0B7091"
gtk-color-scheme = "color5: #268EB0"
gtk-color-scheme = "color6: #56BDDF"
gtk-color-scheme = "color7: #99E5FD"
gtk-color-scheme = "color8: #6a6a6a"
gtk-color-scheme = "color9: #464545"
gtk-color-scheme = "color10: #535353"
gtk-color-scheme = "color11: #65696A"
gtk-color-scheme = "color12: #0B7091"
gtk-color-scheme = "color13: #268EB0"
gtk-color-scheme = "color14: #56BDDF"
gtk-color-scheme = "color15: #99E5FD"
