
@font-face{font-family:'Titillium Web';
src:url(../fonts/titilliumweb-black-webfont.eot);
src:url(../fonts/titilliumweb-black-webfont.eot?#iefix) 
format("embedded-opentype"),
url(../fonts/titilliumweb-black-webfont.svg#titillium_webblack) 
format("svg"),url(../fonts/titilliumweb-black-webfont.woff) 
format("woff"),url(../fonts/titilliumweb-black-webfont.ttf) 
format("truetype");font-weight:900;font-style:normal}
@font-face{font-family:'Titillium Web';
src:url(../fonts/titilliumweb-bold-webfont.eot);
src:url(../fonts/titilliumweb-bold-webfont.eot?#iefix) 
format("embedded-opentype"),url(../fonts/titilliumweb-bold-webfont.svg#titillium_webbold) 
format("svg"),url(../fonts/titilliumweb-bold-webfont.woff) 
format("woff"),url(../fonts/titilliumweb-bold-webfont.ttf) format("truetype");font-weight:700;font-style:normal}
@font-face{font-family:'Titillium Web';
src:url(../fonts/titilliumweb-bolditalic-webfont.eot);
src:url(../fonts/titilliumweb-bolditalic-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-bolditalic-webfont.svg#titillium_webbold_italic) format("svg"),url(../fonts/titilliumweb-bolditalic-webfont.woff) format("woff"),url(../fonts/titilliumweb-bolditalic-webfont.ttf) format("truetype");font-weight:700;font-style:italic}
@font-face{font-family:'Titillium Web';src:url(../fonts/titilliumweb-extralight-webfont.eot);src:url(../fonts/titilliumweb-extralight-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-extralight-webfont.svg#titillium_webthin) format("svg"),url(../fonts/titilliumweb-extralight-webfont.woff) format("woff"),url(../fonts/titilliumweb-extralight-webfont.ttf) format("truetype");font-weight:200;font-style:normal}
@font-face{font-family:'Titillium Web';src:url(../fonts/titilliumweb-extralightitalic-webfont.eot);src:url(../fonts/titilliumweb-extralightitalic-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-extralightitalic-webfont.svg#titillium_webthin_italic) format("svg"),url(../fonts/titilliumweb-extralightitalic-webfont.woff) format("woff"),url(../fonts/titilliumweb-extralightitalic-webfont.ttf) format("truetype");font-weight:200;font-style:italic}
@font-face{font-family:'Titillium Web';src:url(../fonts/titilliumweb-italic-webfont.eot);src:url(../fonts/titilliumweb-italic-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-italic-webfont.svg#titillium_webitalic) format("svg"),url(../fonts/titilliumweb-italic-webfont.woff) format("woff"),url(../fonts/titilliumweb-italic-webfont.ttf) format("truetype");font-weight:400;font-style:italic}
@font-face{font-family:'Titillium Web';src:url(../fonts/titilliumweb-light-webfont.eot);src:url(../fonts/titilliumweb-light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-light-webfont.svg#titillium_weblight) format("svg"),url(../fonts/titilliumweb-light-webfont.woff) format("woff"),url(../fonts/titilliumweb-light-webfont.ttf) format("truetype");font-weight:300;font-style:normal}
@font-face{font-family:'Titillium Web';src:url(../fonts/titilliumweb-lightitalic-webfont.eot);src:url(../fonts/titilliumweb-lightitalic-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-lightitalic-webfont.svg#titillium_weblight_italic) format("svg"),url(../fonts/titilliumweb-lightitalic-webfont.woff) format("woff"),url(../fonts/titilliumweb-lightitalic-webfont.ttf) format("truetype");font-weight:300;font-style:italic}
@font-face{font-family:'Titillium Web';src:url(../fonts/titilliumweb-regular-webfont.eot);src:url(../fonts/titilliumweb-regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-regular-webfont.svg#titillium_webregular) format("svg"),url(../fonts/titilliumweb-regular-webfont.woff) format("woff"),url(../fonts/titilliumweb-regular-webfont.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Titillium Web';src:url(../fonts/titilliumweb-semibold-webfont.eot);src:url(../fonts/titilliumweb-semibold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold) format("svg"),url(../fonts/titilliumweb-semibold-webfont.woff) format("woff"),url(../fonts/titilliumweb-semibold-webfont.ttf) format("truetype");font-weight:600;font-style:normal}
@font-face{font-family:'Titillium Web';src:url(../fonts/titilliumweb-semibolditalic-webfont.eot);src:url(../fonts/titilliumweb-semibolditalic-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/titilliumweb-semibolditalic-webfont.svg#titillium_websemibold_italic) format("svg"),url(../fonts/titilliumweb-semibolditalic-webfont.woff) format("woff"),url(../fonts/titilliumweb-semibolditalic-webfont.ttf) format("truetype");
font-weight:600;font-style:italic}

* {padding: 0; margin: 0;}
body {
    font-family: "Titillium Web","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 20px; 
}


body #content {
    position: relative;
}

body #content #qr {
    background: #fff;
    padding: 5px;
}

body #content #fav {
    display: none;
    opacity: .95;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 3px;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    border-radius: 5px;
}


::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(44, 103, 211,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(3 ,122, 212,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(245, 241, 10,0.4); 
}


/*Live Testing TAG*/
input[type="text"],
button[type="submit"] {
    font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

{
    text-shadow:0 1px 0 #FFF;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    background:#F9F9F9;
    padding:25px;
}

h3 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}


h4 {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}
label span {
    cursor:pointer;
    color:#991D57;
    display:block;
    margin:5px 0;
    font-weight:900;
}
input[type="text"] {
    width:150px;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}


input[type="text"]:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}
button[type="submit"] {
    cursor: pointer;
        width:150px;
    border: none;
    background: #3b68fb;
    background-image: linear-gradient(bottom, #6DB3F2 0%, #3b68fb 52%);
    background-image: -moz-linear-gradient(bottom, #6DB3F2 0%, #3b68fb 52%);
    background-image: -webkit-linear-gradient(bottom, #6DB3F2 0%, #3b68fb 52%);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
}
button[type="submit"]:hover {
    background-image: linear-gradient(bottom, #3b68fb 0%, #6DB3F2 52%);
    background-image: -moz-linear-gradient(bottom, #3b68fb 0%, #6DB3F2 52%);
    background-image: -webkit-linear-gradient(bottom, #3b68fb 0%, #6DB3F2 52%);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:focus,
textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

 .message {
    height: 20px;
    background: #eee;
    padding: 5px;
  }

.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}

.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;border-top-width:1px;border-bottom-width:1px;}

.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;border-top-width:1px;border-bottom-width:1px;}


